@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.grayscale {
  filter: grayscale(100%);
}

.grayscale:hover {
  filter: grayscale(0%);
}
/* @media (max-width: 639px) {
  .lg\:block {
    display: none;
  }
} */
@media (max-width: 700px) {
  .hide-image {
    display: none;
  }
}
@media (max-width: 800px) {
  .max-w-700 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

  }
  .hero-text{
    font-size: 1.8rem;
    line-height: 3rem ;
  }
  .hero-btn{
    margin-top: 4rem;
  }
  .section-mobile{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .mobile-text{
    font-size: 2rem;
  }
  .main-text-mobile{
    font-size: 2rem;
  }
  .mobile-footer{
    padding-left: 4rem;
  }
  .hero-logo{
   margin-left: -2rem;
  }
}


@media (max-width: 800px) {
  .image-main{
    padding-left: 0;
    padding-top: 2rem;
    padding-left: 0rem;
  }
}





